$white-color: rgb(247, 242, 242);
$white-color-dimmed: rgb(180, 177, 177);
$black-color: rgb(15, 15, 15);

.navbar {
  z-index: 2;
  height: 150px;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.6),
    rgba(44, 44, 44, 0.2),
    rgba(49, 49, 49, 0)
  );

  &__section-1 {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    margin: 25px 50px;
    width: 140px;
    cursor: pointer;
  }

  &__btn {
    margin: 25px 50px;
    background-color: $white-color;
    color: $black-color;
    border-radius: 50px;
    width: 75px;
    height: 32px;
    padding: auto;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: 0.1s all ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      background-color: $white-color-dimmed;
    }
  }
}

.account-buttons {
  padding: 25px 20px;
  display: flex;
  align-content: center;
  gap: 10px;
}

.account-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  background-color: #e50914;
  color: #fff;

  &:hover {
    cursor: pointer;
    background-color: #bc010a;
  }
}

.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  background-color: #333333;
  color: #fff;

  &:hover {
    cursor: pointer;
    background-color: #4c4b4b;
  }
}

@media (max-width: 720px) {
  .navbar__logo {
    width: 100px;
  }
}
@media (max-width: 590px) {
  .navbar {
    &__btn {
      margin: 25px 25px;
    }

    &__logo {
      margin: 25px 25px;
    }
  }
}

@media (max-width: 380px) {
  .navbar {
    &__logo {
      width: 80px;
    }

    &__btn {
      width: 65px;
      height: 28px;
      font-weight: 600;
    }
  }
}
